@import "normalize.css/normalize";

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: antialiased;
  text-shadow: 0 0 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
