<header class="header-brochure row">
  {{> header-brand this }}

  {{#if appName }}
    <h2 class="name">{{appName}}</h2>
  {{/if}}

  {{#if nav}}
    <nav id="nav-main" class="navbar-left hidden-print">
        {{> nav-list this }}
    </nav>
  <a id="nav-toggle" class=""><span></span></a>
  {{/if}}

</header>
