/* Base styles for the header
 */
.c-site-header {

  width: 100%;
  z-index: 100;

  background: white;
  padding: 0.5em;
  box-shadow: 1px 1px 1px var(--color-grey-light);

}

  @media (min-width: 1000px) {
    .c-site-header {
      width: 80vw;
      padding: var(--scale-M)rem;
    }
  }


/* '.sticky' class is appended to '.c-site-header' when the page scrolls past
 * '.js-main-content' - see sticky-header.js
 */
.c-site-header.sticky {
   position: fixed;
   top: 0;
}

/* Custom typography stylings in the header
 */
.c-site-header h1 {
  font-size: 1em;
  margin: 0;
}

  @media (min-width: 1000px) {
    .c-site-header h1 {
      font-size: 2em;
      margin: 0;
    }
  }
