.header-bar {
  width: 100%;
  position: absolute;
  top: 0;
}

.header-bar-fixed {
  position: fixed;
}


.header-brochure .name {
  margin: 5rem 0 0 var(--scale-M)rem;
}


.nav-toggle {
  float: left;
  width: var(--scale-L)rem;
  height: var(--scale-L)rem;
}
