.c-site-header {

  width: 100%;
  z-index: 100;

  background: white;
  padding: var(--scale-M)rem;
  box-shadow: 1px 1px 1px var(--color-grey-light);

}

.c-site-header.sticky {
   position: fixed;
   top: 0;
}

.c-site-header h1 {
  margin: 0;
}
