/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `cf` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
 * Float helpers
 */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/*
 * Margin helpers
 */

 .noMargin {
    margin: 0 !important;
 }

     .noMargin-top {
        margin-top: 0 !important;
     }

     .noMargin-right {
        margin-right: 0 !important;
     }

     .noMargin-bottom {
        margin-bottom: 0 !important;
     }

     .noMargin-left {
        margin-left: 0 !important;
     }

.margin {
    margin: var(--scale-M)rem !important;
 }

     .margin-top {
        margin-top: var(--scale-M)rem !important;
     }

     .margin-right {
        margin-right: var(--scale-M)rem !important;
     }

     .margin-bottom {
        margin-bottom: var(--scale-M)rem !important;
     }

     .margin-left {
        margin-left: var(--scale-M)rem !important;
     }

.margin-S {
    margin: var(--scale-S)rem !important;
 }

     .margin-top-S {
        margin-top: var(--scale-S)rem !important;
     }

     .margin-right-S {
        margin-right: var(--scale-S)rem !important;
     }

     .margin-bottom-S {
        margin-bottom: var(--scale-S)rem !important;
     }

     .margin-left-S {
        margin-left: var(--scale-S)rem !important;
     }

.margin-L {
    margin: var(--scale-L)rem !important;
 }

     .margin-top-L {
        margin-top: var(--scale-L)rem !important;
     }

     .margin-right-L {
        margin-right: var(--scale-L)rem !important;
     }

     .margin-bottom-L {
        margin-bottom: var(--scale-L)rem !important;
     }

     .margin-left-L {
        margin-left: var(--scale-L)rem !important;
     }

.margin-XL {
    margin: var(--scale-XL)rem !important;
 }

     .margin-top-XL {
        margin-top: var(--scale-XL)rem !important;
     }

     .margin-right-XL {
        margin-right: var(--scale-XL)rem !important;
     }

     .margin-bottom-XL {
        margin-bottom: var(--scale-XL)rem !important;
     }

     .margin-left-XL {
        margin-left: var(--scale-XL)rem !important;
     }

.margin-XXL {
    margin: var(--scale-XXL)rem !important;
 }

     .margin-top-XXL {
        margin-top: var(--scale-XXL)rem !important;
     }

     .margin-right-XXL {
        margin-right: var(--scale-XXL)rem !important;
     }

     .margin-bottom-XXL {
        margin-bottom: var(--scale-XXL)rem !important;
     }

     .margin-left-XXL {
        margin-left: var(--scale-XXL)rem !important;
     }

.margin-XXXL {
    margin: var(--scale-XXXL)rem !important;
 }

     .margin-top-XXXL {
        margin-top: var(--scale-XXXL)rem !important;
     }

     .margin-right-XXXL {
        margin-right: var(--scale-XXXL)rem !important;
     }

     .margin-bottom-XXXL {
        margin-bottom: var(--scale-XXXL)rem !important;
     }

     .margin-left-XXXL {
        margin-left: var(--scale-XXXL)rem !important;
     }


.margin-XXXXL {
    margin: var(--scale-XXXXL)rem !important;
 }

     .margin-top-XXXXL {
        margin-top: var(--scale-XXXXL)rem !important;
     }

     .margin-right-XXXXL {
        margin-right: var(--scale-XXXXL)rem !important;
     }

     .margin-bottom-XXXXL {
        margin-bottom: var(--scale-XXXXL)rem !important;
     }

     .margin-left-XXXXL {
        margin-left: var(--scale-XXXXL)rem !important;
     }
/*
* Padding helpers
*/

.noPadding {
   padding: 0 !important;
}

          .noPadding-top {
             padding-top: 0 !important;
          }

          .noPadding-right {
             padding-right: 0 !important;
          }

          .noPadding-bottom {
             padding-bottom: 0 !important;
          }

          .noPadding-left {
             padding-left: 0 !important;
          }

     .padding {
         padding: var(--scale-M)rem !important;
      }

          .padding-top {
             padding-top: var(--scale-M)rem !important;
          }

          .padding-right {
             padding-right: var(--scale-M)rem !important;
          }

          .padding-bottom {
             padding-bottom: var(--scale-M)rem !important;
          }

          .padding-left {
             padding-left: var(--scale-M)rem !important;
          }

     .padding-S {
         padding: var(--scale-S)rem !important;
      }

          .padding-top-S {
             padding-top: var(--scale-S)rem !important;
          }

          .padding-right-S {
             padding-right: var(--scale-S)rem !important;
          }

          .padding-bottom-S {
             padding-bottom: var(--scale-S)rem !important;
          }

          .padding-left-S {
             padding-left: var(--scale-S)rem !important;
          }

     .padding-L {
         padding: var(--scale-L)rem !important;
      }

          .padding-top-L {
             padding-top: var(--scale-L)rem !important;
          }

          .padding-right-L {
             padding-right: var(--scale-L)rem !important;
          }

          .padding-bottom-L {
             padding-bottom: var(--scale-L)rem !important;
          }

          .padding-left-L {
             padding-left: var(--scale-L)rem !important;
          }

     .padding-XL {
         padding: var(--scale-XL)rem !important;
      }

          .padding-top-XL {
             padding-top: var(--scale-XL)rem !important;
          }

          .padding-right-XL {
             padding-right: var(--scale-XL)rem !important;
          }

          .padding-bottom-XL {
             padding-bottom: var(--scale-XL)rem !important;
          }

          .padding-left-XL {
             padding-left: var(--scale-XL)rem !important;
          }

      .padding-XXL {
         padding: var(--scale-XXL)rem !important;
      }

          .padding-top-XXL {
             padding-top: var(--scale-XXL)rem !important;
          }

          .padding-right-XXL {
             padding-right: var(--scale-XXL)rem !important;
          }

          .padding-bottom-XXL {
             padding-bottom: var(--scale-XXL)rem !important;
          }

          .padding-left-XXL {
             padding-left: var(--scale-XXL)rem !important;
          }

       .padding-XXXL {
           padding: var(--scale-XXXL)rem !important;
        }

            .padding-top-XXXL {
               padding-top: var(--scale-XXXL)rem !important;
            }

            .padding-right-XXXL {
               padding-right: var(--scale-XXXL)rem !important;
            }

            .padding-bottom-XXXL {
               padding-bottom: var(--scale-XXXL)rem !important;
            }

            .padding-left-XXXL {
               padding-left: var(--scale-XXXL)rem !important;
            }

       .padding-XXXXL {
           padding: var(--scale-XXXXL)rem !important;
        }

            .padding-top-XXXXL {
               padding-top: var(--scale-XXXXL)rem !important;
            }

            .padding-right-XXXXL {
               padding-right: var(--scale-XXXXL)rem !important;
            }

            .padding-bottom-XXXXL {
               padding-bottom: var(--scale-XXXXL)rem !important;
            }

            .padding-left-XXXXL {
               padding-left: var(--scale-XXXXL)rem !important;
            }