/* containers */

    html {
        -webkit-font-smoothing: antialiased !important;
        font-size: 100%;
    }

    body {
        font-family: var(--font-sans);
        font-weight: var(--sans-normal);
        color: var(--color-black);
    }

/* headings */
    .context {
      margin-top: var(--scale-L)rem;
      font-size: var(--scale-M)rem;
    }
    .context + h1 {
      margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-sans);
        font-weight: var(--sans-normal);
    }

    h1 {
        font-size: var(--scale-XXL)rem;
        line-height: 1.125;
        margin: var(--scale-XXXL)rem 0;
    }

    h1.XXXL {
        font-size: var(--scale-XXXL)rem;
        line-height: 1.125;
        margin: var(--scale-XXXL)rem 0;
    }

    h1.headline {
        font-family: var(--font-serif);
        font-size: var(--scale-XXXXL)rem;
        line-height: 1;
        font-weight: var(--serif-normal);
        margin: var(--scale-XXXXL)rem 0;
    }

    h2 {
        font-size: var(--scale-XL)rem;
        line-height: 1;
        font-weight: var(--sans-bold);
        margin: var(--scale-XXXL)rem 0 var(--scale-XL)rem;
    }

    h3 {
        font-size: var(--scale-XL)rem;
        line-height: 1.125;
        margin: var(--scale-XXL)rem 0 var(--scale-XL)rem;
        color: var(--color-grey-medium);
    }

    h4, h5, h6 {
        font-size: var(--scale-L)rem;
        line-height: 1.125;
        font-weight: var(--sans-bold);
        margin: var(--scale-L)rem 0;
    }

    /*
    Remove margins when it's the first
    or last element in the parent container
    */

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
      margin-top:0;
    }

    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child {
      margin-bottom:0;
    }

/* text */
    p {
        font-size: var(--scale-M)rem;
        line-height: var(--scale-XL);
        color: var(--color-grey-dark);
    }

    .lead {
        font-family: var(--font-serif);
        font-weight: var(--serif-normal);
        font-size: var(--scale-XL)rem;
        line-height: var(--scale-XL);
        color: var(--color-grey-dark);
    }

    strong {
        font-weight: var(--sans-bold);
    }

    del {
        font-weight: var(--sans-normal);
        text-decoration: strike-through;
    }

/* links */
    a {
        color: var(--color-grey-dark);
        font-weight: var(--sans-normal);
        text-decoration: none;
        font-size: var(--scale-M)rem;
    }
    a:hover,
    a:focus,
    a:active {
        color: var(--color-grey-dark);
        text-decoration: inherit;
    }

    .typography a {
        color: var(--color-grey-dark);
        font-weight: var(--sans-normal);
        text-decoration: none;
        border-bottom: 1px solid var(--color-grey-medium);
        box-shadow: inset 0 -2px 0 var(--color-grey-medium);
    }
    .typography a:hover,
    .typography a:focus,
    .typography a:active {
        color: var(--color-grey-dark);
        text-decoration: none;
        border-bottom: 1px solid var(--color-grey-medium);
        box-shadow: inset 0 -4px 0 var(--color-grey-medium);
    }

    a.no-styles{
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
        letter-spacing: 0;
    }
    a.no-styles:hover,
    a.no-styles:focus,
    a.no-styles:active {
        color: inherit;
        text-decoration: none;
    }
/* lists */
    ul, ol { }
    li { }

/* quotes */
    blockquote {
        font-size: var(--scale-XL)rem;
        line-height: var(--scale-XXL);
    }

/**
 * Course Name _in a Day
 */

    .courseName {
        font-weight: var(--sans-bold);
    }

    .courseName span {
        font-weight: var(--sans-normal);
    }


/**
 * Horizontal text alignment
 */

.textCenter {
  text-align: center !important;
}

.textLeft {
  text-align: left !important;
}

.textRight {
  text-align: right !important;
}


/*
 * Extended Typographic styles within the .typography wrapper
 */

 .typography p {
    margin-bottom: 1rem;
 }

/* lists  are only formatted within .typography or with .styled*/

.typography ol,
.typography ul {
  margin: var(--scale-XL)rem 0 var(--scale-XXL)rem 0;
  padding: 0;
}

.typography li p {
  margin: 0;
}
.typography li {
  margin: 0 0 var(--scale-M)rem 0;
}

.typography ul li,
ul.styled li {
  list-style-type: none;
  position: relative;
}

.typography ul li::before,
ul.styled li::before {
  content: "⟩";
  font-size: var(--scale-S)em;
  line-height: 1;
  position: absolute;
  left: -3em;
  width: 2em;
  margin-top: .25em;
  text-align: right;
  color: var(--color-grey-medium);
}


.typography ol li,
ol.styled li {
  counter-increment: step-counter;
  list-style-type: none;
  position: relative;
}

.typography ol li::before,
ol.styled li::before {
  content: counter(step-counter, decimal-leading-zero);
  font-size: var(--scale-S)em;
  line-height: 1;
  position: absolute;
  left: -var(--scale-XXL)em;
  width: var(--scale-XL)em;
  margin-top: .25em;
  text-align: right;
  color: var(--color-grey-medium);
}

code,
kbd,
samp {
  font-family: "Source Code Pro", monospace;
  font-size: var(--scale-S)rem;
  background-color: var(--color-grey-light);
  padding: 0 var(--scale-XS)em;
}

pre code {
  display: block;
  padding: var(--scale-XS)em;
  overflow: scroll;
}



/* tables */
table {
  width: 100%;
}
th, td {
  border-bottom: 1px solid var(--color-grey-medium);
  padding: var(--scale-XS)rem var(--scale-XS)rem var(--scale-XS)rem 0;
  text-align: left;
  color: var(--color-grey-medium);
  font-weight: var(--sans-normal);
}
td {
  border-bottom: 1px solid var(--color-grey-light);
  color: var(--color-black);
}

/* typography examples, overrides */
.sans-serif {
  font-family: var(--font-sans) !important;
}

.serif {
  font-family: var(--font-serif) !important;
}


.full-width {
  width: 100%;
}
